.game{
  display: flex;
  flex-direction: column;
  background-color: #1f1e29;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.game-info{
  margin: 0 auto;
}
.status{
  color: #FFF;
  font-size: 20px;
  text-align: center;
  margin: 15px auto;
}